@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "Details";
}

<h2 id="pageParagraph">My Information</h2>

<div id="pageParagraph">
    <div>
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.emailAddress)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.emailAddress)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.password)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.password)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.address)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.address)
            </dd>

        </dl>
    </div>
</div>

