@{
    ViewBag.Title = "Home Page";
}

<div id ="mainHeadline"class="jumbotron">
    <h1>We are TRASH.</h1>
    <p class="lead">Trash Collector is a user-friendly wesbite where YOU are in control of your trash. Be in full control of your trash pick-up dates, payments and your account in one place! No hassle.</p>
</div>

<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Create a new account with Trash Collector.
        </p>
        <p>@Html.ActionLink("Register", "Register", "Account", null, new { @class = "btn btn-primary btn-large btn-block" })</p>
        <p>@Html.ActionLink("Learn More", "About", "Home", null, new { @class = "btn btn-primary btn-large btn-block" })</p>      
    </div>

    <div class="col-md-6">
        <h2>Already a Member?</h2>
        <p>
            Login to view and manage your account.
        </p>
        <p>@Html.ActionLink("Login", "Login", "Account", null, new { @class = "btn btn-primary btn-large btn-block" })</p>
        <p>@Html.ActionLink("FAQ", "About", "Home", null, new { @class = "btn btn-primary btn-large btn-block" })</p>   
    </div>
    <div class="col-md-12">
        <h2></h2>
        <p>@Html.ActionLink("Contact Us", "Contact", "Home", null, new { @class = "btn btn-primary btn-large btn-block" })</p>
    </div>

 
    @*<div class="col-md-4">
        <h2>Trash pick-ups</h2>
        <p>View a calendar and choose what days work best for you. Update at any time. Going on vacation? Put your trash pick up on hold!</p>
        <p><a class="btn btn-default" href="https://www.timeanddate.com/calendar/">Learn more &raquo;</a></p>
    </div>*@
</div>